.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drumKitContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}