.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.drumKitContainer { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

*:focus {
    outline: none
}

button {
    height: 100px;
    width: 100px;
    margin: 0px 15px;
    border-radius: 15%;
}